In [3]:
import pandas as pd
from IPython.core.display import HTML

df = pd.DataFrame([['A231', 'Book', 5, 3, 150], 
                   ['M441', 'Magic Staff', 10, 7, 200]],
                   columns = ['Code', 'Name', 'Price', 'Net', 'Sales'])

# your images
images = ['https://vignette.wikia.nocookie.net/2007scape/images/7/7a/Mage%27s_book_detail.png/revision/latest?cb=20180310083825',
          'https://i.pinimg.com/originals/d9/5c/9b/d95c9ba809aa9dd4cb519a225af40f2b.png'] 


df['image'] = images

# convert your links to html tags 
def path_to_image_html(path):
    return '<img src="'+ path + '" width="20" >'

pd.set_option('display.max_colwidth', -1)

HTML(df.to_html(escape=False ,formatters=dict(image=path_to_image_html)))

In [12]:
import pandas as pd
from PIL import Image
import requests
from io import BytesIO

df = pd.DataFrame({'project_id':["1", "2"], 
                    'image_url':['http://www.personal.psu.edu/dqc5255/gl-29.jpg',
                                'https://www.iprotego.com/wp-content/uploads/google.jpg']})

pictures = [None] * 2

df.insert(2, "pictures", pictures, True)

headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.163 Safari/537.36'}

for i in range(2):
    r = requests.get(df.iloc[i,1], headers=headers)
    r.raise_for_status()
    df.iloc[i,2] = Image.open(BytesIO(r.content))

df

,project_id,image_url,pictures
0,1,http://www.personal.psu.edu/dqc5255/gl-29.jpg,<PIL.JpegImagePlugin.JpegImageFile image mode=RGB size=400x300 at 0x21D96E3B7C8>
1,2,https://www.iprotego.com/wp-content/uploads/google.jpg,<PIL.JpegImagePlugin.JpegImageFile image mode=RGB size=760x570 at 0x21D96551708>

In [1]:
from ipywidgets import RadioButtons, Text, Select, Dropdown, jslink
from ipywidgets.widgets.widget import Widget, register, widget_serialization
from ipywidgets.widgets.widget_core import CoreWidget
from IPython.display import  display

from traitlets import Unicode, Tuple, Instance, TraitError

Dropdown.value.tag(sync=True)

selection = Dropdown(options=[('1','a'),('2','b'),('3','c')])
text = Text(value='a')
l = jslink((text, 'value'), (selection, 'value'))
display(selection,text)

Dropdown(options=(('1', 'a'), ('2', 'b'), ('3', 'c')), value='a')

Text(value='a')

In [2]:
from IPython.display import display
import ipywidgets as ipw
opts = ['one','two','three']
dpdown = ipw.Dropdown(description='selector', options=opts)
display(dpdown)

Dropdown(description='selector', options=('one', 'two', 'three'), value='one')

In [6]:
import ipywidgets as widgets
from IPython.display import display
import pandas as pd
import numpy as np
#url = "https://data.london.gov.uk/download/number-international-visitors-london/b1e0f953-4c8a-4b45-95f5-e0d143d5641e/international-visitors-london-raw.csv"
url = "international-visitors-london-raw.csv"
df_london = pd.read_csv(url)
ALL = 'ALL'
def unique_sorted_values_plus_ALL(array):
    unique = array.unique().tolist()
    unique.sort()
    unique.insert(0, ALL)
    return unique
dropdown_year = widgets.Dropdown(options = unique_sorted_values_plus_ALL(df_london.year))
def dropdown_year_eventhandler(change):
    if (change.new == ALL):
        display(df_london)
    else:
        display(df_london[df_london.year == change.new])
dropdown_year.observe(dropdown_year_eventhandler, names='value')
display(dropdown_year)

Dropdown(options=('ALL', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012…

,year,quarter,market,dur_stay,mode,purpose,area,Visits (000s),Spend (m),Nights (000s),sample
17123,2007,January-March,Belgium,1-3 nights,Air,Holiday,LONDON,0.753385,0.087581,0.753385,1
17124,2007,January-March,Belgium,1-3 nights,Air,Business,LONDON,4.625445,1.555299,6.869618,9
17125,2007,January-March,Belgium,1-3 nights,Air,VFR,LONDON,1.225540,0.048458,1.793118,3
17126,2007,January-March,Belgium,1-3 nights,Air,Miscellaneous,LONDON,1.023070,0.208063,1.776455,2
17127,2007,January-March,Belgium,1-3 nights,Sea,Holiday,LONDON,6.439640,0.438086,8.448400,3
...,...,...,...,...,...,...,...,...,...,...,...
20408,2007,October-December,Other Africa,8-14 nights,Air,VFR,LONDON,1.302944,5.378523,13.358690,3
20409,2007,October-December,Other Africa,15+ nights,Air,Holiday,LONDON,1.393944,1.251659,49.740030,4
20410,2007,October-December,Other Africa,15+ nights,Air,Business,LONDON,1.052985,2.184023,19.588140,3
20411,2007,October-December,Other Africa,15+ nights,Air,VFR,LONDON,3.251978,0.532455,167.619896,6
20412,2007,October-December,Other Africa,15+ nights,Air,Miscellaneous,LONDON,0.408591,3.320350,8.989000,1

,year,quarter,market,dur_stay,mode,purpose,area,Visits (000s),Spend (m),Nights (000s),sample
0,2002,January-March,Belgium,1-3 nights,Air,Holiday,LONDON,3.572186,0.969138,6.954456,5
1,2002,January-March,Belgium,1-3 nights,Air,Business,LONDON,9.284226,2.399577,12.604959,19
2,2002,January-March,Belgium,1-3 nights,Air,VFR,LONDON,0.877182,0.089833,2.153128,3
3,2002,January-March,Belgium,1-3 nights,Air,Miscellaneous,LONDON,0.163874,0.010160,0.163874,1
4,2002,January-March,Belgium,1-3 nights,Sea,Business,LONDON,1.648670,0.016789,1.650300,1
...,...,...,...,...,...,...,...,...,...,...,...
3392,2002,October-December,Other Africa,15+ nights,Air,Holiday,LONDON,1.551818,1.842615,72.304549,7
3393,2002,October-December,Other Africa,15+ nights,Air,Business,LONDON,0.539859,0.276408,14.036300,1
3394,2002,October-December,Other Africa,15+ nights,Air,VFR,LONDON,6.391710,6.441114,409.227405,19
3395,2002,October-December,Other Africa,15+ nights,Air,Miscellaneous,LONDON,0.761163,0.146931,6.291917,3
3396,2002,October-December,Other Africa,15+ nights,Tunnel,VFR,LONDON,0.874822,3.969770,29.743900,2

,year,quarter,market,dur_stay,mode,purpose,area,Visits (000s),Spend (m),Nights (000s),sample
30385,2011,January-March,Belgium,1-3 nights,Air,Holiday,LONDON,0.611872,0.181726,1.835620,1
30386,2011,January-March,Belgium,1-3 nights,Air,Business,LONDON,4.240937,1.352962,6.583138,9
30387,2011,January-March,Belgium,1-3 nights,Air,VFR,LONDON,0.448959,0.231214,1.346880,1
30388,2011,January-March,Belgium,1-3 nights,Air,Miscellaneous,LONDON,0.386259,0.050408,0.386259,2
30389,2011,January-March,Belgium,1-3 nights,Sea,Holiday,LONDON,3.764496,0.793647,8.743500,5
...,...,...,...,...,...,...,...,...,...,...,...
33860,2011,October-December,Other Africa,8-14 nights,Air,VFR,LONDON,1.203708,0.855506,12.520090,2
33861,2011,October-December,Other Africa,15+ nights,Air,Holiday,LONDON,1.480064,6.357358,60.500319,3
33862,2011,October-December,Other Africa,15+ nights,Air,Business,LONDON,0.344913,0.578671,10.692300,1
33863,2011,October-December,Other Africa,15+ nights,Air,VFR,LONDON,1.186438,1.182593,27.274701,2
33864,2011,October-December,Other Africa,15+ nights,Air,Study,LONDON,0.340270,5.563410,30.284000,1

,year,quarter,market,dur_stay,mode,purpose,area,Visits (000s),Spend (m),Nights (000s),sample
0,2002,January-March,Belgium,1-3 nights,Air,Holiday,LONDON,3.572186,0.969138,6.954456,5
1,2002,January-March,Belgium,1-3 nights,Air,Business,LONDON,9.284226,2.399577,12.604959,19
2,2002,January-March,Belgium,1-3 nights,Air,VFR,LONDON,0.877182,0.089833,2.153128,3
3,2002,January-March,Belgium,1-3 nights,Air,Miscellaneous,LONDON,0.163874,0.010160,0.163874,1
4,2002,January-March,Belgium,1-3 nights,Sea,Business,LONDON,1.648670,0.016789,1.650300,1
...,...,...,...,...,...,...,...,...,...,...,...
3392,2002,October-December,Other Africa,15+ nights,Air,Holiday,LONDON,1.551818,1.842615,72.304549,7
3393,2002,October-December,Other Africa,15+ nights,Air,Business,LONDON,0.539859,0.276408,14.036300,1
3394,2002,October-December,Other Africa,15+ nights,Air,VFR,LONDON,6.391710,6.441114,409.227405,19
3395,2002,October-December,Other Africa,15+ nights,Air,Miscellaneous,LONDON,0.761163,0.146931,6.291917,3
3396,2002,October-December,Other Africa,15+ nights,Tunnel,VFR,LONDON,0.874822,3.969770,29.743900,2

,year,quarter,market,dur_stay,mode,purpose,area,Visits (000s),Spend (m),Nights (000s),sample
26918,2010,January-March,Belgium,1-3 nights,Air,Holiday,LONDON,1.514707,0.570258,3.392040,3
26919,2010,January-March,Belgium,1-3 nights,Air,Business,LONDON,5.042670,3.110846,10.513224,8
26920,2010,January-March,Belgium,1-3 nights,Air,VFR,LONDON,0.780615,0.354409,1.198900,2
26921,2010,January-March,Belgium,1-3 nights,Air,Miscellaneous,LONDON,1.000807,0.067494,1.000807,4
26922,2010,January-March,Belgium,1-3 nights,Sea,Holiday,LONDON,6.194539,1.722190,13.086660,6
...,...,...,...,...,...,...,...,...,...,...,...
30380,2010,October-December,Other Africa,8-14 nights,Air,Miscellaneous,LONDON,0.675502,0.314108,5.404020,1
30381,2010,October-December,Other Africa,15+ nights,Air,Holiday,LONDON,1.702841,0.861113,36.957510,4
30382,2010,October-December,Other Africa,15+ nights,Air,Business,LONDON,0.235869,0.593211,4.953250,1
30383,2010,October-December,Other Africa,15+ nights,Air,VFR,LONDON,0.928615,4.204952,57.445301,2
30384,2010,October-December,Other Africa,15+ nights,Air,Miscellaneous,LONDON,0.559473,2.246280,20.141001,1

,year,quarter,market,dur_stay,mode,purpose,area,Visits (000s),Spend (m),Nights (000s),sample
57579,2019P,January-March,Belgium,1-3 nights,Air,Holiday,LONDON,0.997789,0.694621,2.993367,2
57580,2019P,January-March,Belgium,1-3 nights,Air,Business,LONDON,4.459944,1.022251,18.028843,5
57581,2019P,January-March,Belgium,1-3 nights,Air,Miscellaneous,LONDON,0.538696,0.035015,0.538696,1
57582,2019P,January-March,Belgium,1-3 nights,Sea,Holiday,LONDON,1.604444,0.830520,1.630169,1
57583,2019P,January-March,Belgium,1-3 nights,Sea,VFR,LONDON,4.897217,0.899031,11.117463,3
...,...,...,...,...,...,...,...,...,...,...,...
59799,2019P,July-September,Other Africa,8-14 nights,Air,Study,LONDON,0.450974,0.214817,2.254870,1
59800,2019P,July-September,Other Africa,15+ nights,Air,Holiday,LONDON,0.622189,3.073887,19.910048,1
59801,2019P,July-September,Other Africa,15+ nights,Air,Business,LONDON,0.998596,1.013575,14.978940,1
59802,2019P,July-September,Other Africa,15+ nights,Air,VFR,LONDON,3.397224,2.913100,70.055739,6
59803,2019P,July-September,Other Africa,15+ nights,Air,Miscellaneous,LONDON,1.071057,1.122145,21.994084,2

In [2]:
from jupyter_plotly_dash import JupyterDash

import dash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output

app = JupyterDash('SimpleExample')

app.layout = html.Div([
    dcc.RadioItems(
        id='dropdown-color',
        options=[{'label': c, 'value': c.lower()}
                 for c in ['Red', 'Green', 'Blue']],
        value='red'
    ),
    html.Div(id='output-color'),
    dcc.RadioItems(
        id='dropdown-size',
        options=[{'label': i, 'value': j}
                 for i, j in [('L','large'), ('M','medium'), ('S','small')]],
        value='medium'
    ),
    html.Div(id='output-size')

])

@app.callback(
    dash.dependencies.Output('output-color', 'children'),
    [dash.dependencies.Input('dropdown-color', 'value')])
def callback_color(dropdown_value):
    return "The selected color is %s." % dropdown_value

@app.callback(
    dash.dependencies.Output('output-size', 'children'),
    [dash.dependencies.Input('dropdown-color', 'value'),
     dash.dependencies.Input('dropdown-size', 'value')])
def callback_size(dropdown_color, dropdown_size):
    return "The chosen T-shirt is a %s %s one." %(dropdown_size,
                                                  dropdown_color)

app